.system {
    color: white;

    > h1 {
        text-align: center;
        margin-top: -40px;

        font-weight: 700;
        font-size: 39px;
        line-height: 46px;
        color: white;
    }
}


